
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.card {
 margin-top: 50px;
  margin-left: 360px;
  height:fit-content;
  width: 800px;

  padding: 5em;
  text-align: left;
  color: whitesmoke;
  text-decoration: none;
  backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.container{
  display: flex;
 
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



.glassButton {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glassButton:hover {
  background-color: rgba(255,255,255,0.2);
}

.connect{
  margin-top:30px ;
  margin-left: 40px;
}